body {
  max-width:800px;
  margin: 1.5em auto;
  font-family: Helvetica;
  text-align: center; 
}

div.num, div.oper, div#equal {
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border: 1px solid black;
}


div.num {
  background-color: orange;
}

div.oper, div#equal {
  background-color: #999;
}

div#clear {
  width: 163px;
  background-color: #E5E7E9;
}

div#equal {
  width: 107px;
  background-color: #E5E7E9;
  margin-right: 4px;
}

div#result {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  padding: 0.25em;
  font-size: 39px;
  background-color: #D5F5E3;
  display: inline-block;
  text-align: right;
  border-radius: 5px;
  
}

#calculator {
  max-width: 250px;
  display: inline-block;
}